<ion-content padding >
<div class="bg-img"  [style.backgroundImage]="'url(' + track.thumb + ')'"></div>
<div id="container">
  <ion-toolbar>
    <ion-buttons slot="end">
      <button ion-button icon-only color="danger" shape="round" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div class="track-info">
    <h3>{{ track.artist }}</h3>
    <p>{{ track.title }}</p>
  </div>
  <!-- <input type="file" id="input" onchange="handleFiles(this.files)"/> -->
  <!-- <button (click)="playSong()">Play</button> -->
  <ion-list center class="list-content">

    <!-- <canvas id="freq" width="200" height="200"></canvas> -->
    <div class="avatar-box">
      <img [src]="track.thumb" [ngStyle]="{'animation': spinning}">
      <!-- <div class="circle-inner"></div> -->
    </div>
    
  </ion-list>

</div>


</ion-content>

<ion-toolbar color="danger">
  <ion-row>

    <ion-col size="12">
      <ion-range #range ([ngModel])="progress" min="0" max="100" color="light" (touchend)="seek()" (mouseup)="seek()">
      </ion-range>
      Progress : {{ progress }} <br>
      isPlaying: {{ isPlaying }}
    </ion-col>

    <ion-col size="12" class="ion-text-center">
      
      <ion-button fill="clear" (click)="prev()" color="light">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="next()" color="light">
        <ion-icon slot="icon-only" name="md-skip-forward"></ion-icon>
      </ion-button>

    </ion-col>
  </ion-row>
</ion-toolbar>