ion-toolbar, ion-list{
  --background: transparent;
  --ion-background-color: transparent;
  background-color: transparent;
}
#container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}
.bg-img{
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  --background: var(--ion-color-danger);
  --ion-background-color: var(--ion-color-danger);
  background-color: var(--ion-color-danger);
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 12px;
}
.track-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .avatar-box{
    width: 190px;
    height: 190px;
    .circle-inner{
      position: absolute;
      top: 25%;
      left: 45%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      --background: var(--ion-black-color);
      --ion-background-color: var(--ion-black-color);
      background-color: var(--ion-black-color);
      -webkit-box-shadow: inset 2px 0px 5px -9px rgba(255, 255, 255, 0.144);
      -moz-box-shadow: inset 2px 0px 5px -9px rgba(255, 255, 255, 0.144);
      box-shadow: inset 2px 0px 5px -9px rgba(255,255,255,0.144);
    }
    img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
      animation: rotation 3s infinite linear;
    }
  }
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}