<ion-content padding >
<div class="bg-img"  [style.backgroundImage]="'url(' + track.thumb + ')'"></div>
<div id="container">
  <ion-toolbar>
    <ion-buttons slot="end">
      <button ion-button icon-only color="danger" shape="round" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div class="track-info">
    <h3>{{ track.artist }}</h3>
    <p>{{ track.title }}</p>
  </div>
  <!-- <input type="file" id="input" onchange="handleFiles(this.files)"/> -->
  <button (click)="playSong()">Play</button>
  <ion-list center class="list-content">
    <canvas id="freq" width="200" height="200"></canvas>
    <div class="avatar-box">
      <img [src]="track.thumb">
      <div class="circle-inner"></div>
    </div>
   
  </ion-list>
</div>

</ion-content>

<!-- <ion-content>


  <button id="playSampleButton" type="button" onClick="playSample()">Play Sample File</button>
<button id="useMicButton" type="button" onClick="useMic()">Use Microphone</button>
  <span id="loading"></span>
  <div id="song_info_wrapper">
  <div id="artist">Unknown Artist</div>
  <div id="title">Unknown Titel</div>
  <div id="album">Unknown Album</div>
</div> 
</ion-content> -->