<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div id="loginContainer">
    
      <h4>Sound Player</h4>
      <div class="form">
        <ion-item>
          <ion-input type="email" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button color="danger" shape="round" expand="block" (click)="login()">Login</ion-button>
      </div>

  </div>
</ion-content>
