ion-content ion-toolbar {
  --background: translucent;
}
ion-content, ion-list, ion-item {
  --background: var(--ion-black-color);
  --ion-background-color: var(--ion-black-color);
}
ion-card-content{
  --background: var(--ion-color-danger-shade)!important;
  --ion-background-color: var(--ion-color-danger-shade)!important;
  background-color: var(--ion-color-danger-shade)!important;
  color: #fff;
}